* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ! edit with it (main.js / darkButton.click lightButton.click) */
  --color-1: var(--color-1-a);
  --color-2: var(--color-2-a);
  --color-3: var(--color-3-a);
  --color-4: var(--color-4-a);
  --color-5: var(--color-5-a);
  --color-warning: var(--color-warning-a);

  /* ! The applied theme original colors */
  --color-1-a: rgb(244, 238, 255);
  --color-2-a: rgb(220, 214, 247);
  --color-3-a: rgb(166, 177, 225);
  --color-4-a: rgb(66, 72, 116);
  --color-5-a: rgb(37, 41, 66);
  --color-warning-a: red;

  /* ! The applied theme reversed colors */
  --color-1-b: var(--color-5-a);
  --color-2-b: var(--color-4-a);
  --color-3-b: var(--color-3-a);
  --color-4-b: var(--color-2-a);
  --color-5-b: var(--color-1-a);
  --color-warning-b: var(--color-warning-a);
}

::-webkit-scrollbar {
  width: 1rem; /*! related to border-radius of track, thumb  */
}

::-webkit-scrollbar-track {
  background: var(--color-2);
  box-shadow: inset 2px 2px 5px var(--color-3);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--color-4);
  box-shadow: inset 1px 1px 5px var(--color-1);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-5);
}
::-webkit-scrollbar-corner {
  background: var(--color-1);
}

html {
  margin: 0px;
  height: 100%;
  max-width: 100%;
  background-color: var(--color-1);
}
body {
  cursor: url(./Media/animeMouseCursors.png), default;
}
#container {
  height: 91vh;
  justify-content: space-around;
  padding: 10px;
  background-color: var(--color-1);
  color: var(--color-5);
  overflow: auto;
}
#header {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 2%;
  margin-inline: 2vw;
}

#search-input {
  width: 100%;
  min-height: 5vh;
  border-radius: 1rem;
  font-size: large;
  padding: 0 15px 0 15px;
}
#filter-pop-up-div {
  display: flex;
  width: 100%;
  gap: 2%;
  padding: 0 2vw;
  justify-content: space-between;
  align-items: center;
}

#filter-pop-up-div div {
  width: 100%;
}

#log-in-sign-up-page {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5%;
  flex-grow: 1;
  margin: 3%;
  font-size: larger;
}

#log-in-sign-up-page div {
  border: 1px var(--color-5) solid;
  box-shadow: 0 0 1rem var(--color-5);
  padding: 2% 5%;
  border-radius: 2rem;
  flex-grow: 1;
}

#log-in-sign-up-page input {
  padding: 1% 5%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}

#user-section {
  display: flex;
  min-height: 55%;
  width: 100%;
  gap: 5%;
  flex-grow: 1;
}

#sign-up-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
}

#log-in-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
}

#rules-section {
  display: flex;
  width: 100%;
  gap: 5%;
}

#log-in-sign-up-errors {
  width: 100%;
  align-items: center;
  height: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow-y: auto;
}

#log-in-rules {
  width: 100%;
  align-items: center;
  height: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow-y: auto;
}

#log-in-sign-up-errors ul li {
  color: var(--color-warning);
}

#main-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.anime-div {
  border: 2px var(--color-3) solid;
  border-radius: 1rem;
  margin: 1%;
  width: 31.3%;
  display: grid;
  grid-template: repeat(4, 0.25fr) / 1fr 2fr;
  grid-template-areas: "Image Name" "Image Genre" "Image Studio" "Image Type";
  position: relative;
  box-shadow: 0 0 5px var(--color-5);
  background-color: var(--color-2);
  cursor: pointer;
}

.anime-div > p:hover {
  overflow-y: visible;
  background: var(--color-2) 0.5;
  border-radius: inherit;
}

.anime-img {
  max-width: 100%;
  align-self: center;
  grid-area: Image;
  border-radius: inherit;
}
.anime-bg {
  max-width: 100%;
  opacity: 0.15;
  height: 100%;
  grid-area: name;
  border-radius: inherit;
  position: absolute;
  right: 0;
}

.anime-name {
  padding-top: 5%;
  padding-left: 5%;
  grid-area: Name;
  color: var(--color-4);
  font-family: sans-serif, Arial, Helvetica;
  font-size: 1rem;
  font-weight: bolder;
  overflow-y: hidden;
  z-index: 1;
}

.anime-genre {
  padding-top: 5%;
  padding-left: 5%;
  grid-area: Genre;
  overflow-wrap: break-word;
  font-size: medium;
  overflow-y: hidden;
  z-index: 1;
}

.anime-studio {
  padding-top: 5%;
  padding-left: 5%;
  grid-area: Studio;
  overflow-wrap: break-word;
  color: var(--color-4);
  font-family: sans-serif, Arial, Helvetica;
  font-size: medium;
  font-weight: bold;
  overflow-y: hidden;
  z-index: 1;
}

.anime-type {
  padding-left: 5%;
  padding-block: 5%;
  grid-area: Type;
  overflow-wrap: break-word;
  color: var(--color-4);
  font-family: sans-serif, Arial, Helvetica;
  font-size: medium;
  font-weight: bold;
  overflow: hidden;
  z-index: 0;
  width: 50%;
}

.anime-fav {
  position: absolute;
  bottom: 0%;
  right: 5%;
  color: var(--color-warning);
  cursor: copy;
}

.anime-rate {
  position: absolute;
  bottom: 0%;
  left: 50%;
  color: var(--color-4);
  background-color: var(--color-1);
  opacity: 0.85;
  padding: 1%;
  border-radius: 0.5rem;
  font-weight: bold;
  box-shadow: 0 0 3px var(--color-5);
}

.anime-rate::first-letter {
  color: var(--color-warning);

  font-size: x-large;
}

#user-page {
  display: grid;
  grid-template: 30vh 70vh / 95vw;
}
#user-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#user-image {
  margin: 2% 0 0 2%;
  height: 20vh;
  aspect-ratio: 1/1;
}
#avatar-div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.avatar-pic {
  width: 8vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.avatar-pic:hover {
  border-radius: 50%;
  border: 2px var(--color-warning) solid;
}
#user-info {
  display: flex;
  font-size: xx-large;
  font-weight: bolder;
}
#log-out-div button {
  max-height: 100%;
  width: 10vw;
  padding: 0.5rem;
  align-content: center;
}

#user-fav-div {
  margin: 2%;

  font-size: x-large;
  height: 55vh;
}

#user-fav-ul {
  height: calc(60vh - 50px);
  overflow-y: scroll;
}

#user-fav-ul li::before {
  content: "- ";
}

#user-fav-ul li {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}

#user-fav-ul li:hover {
  -webkit-line-clamp: 50;
  overflow-y: visible;
}
#user-fav-ul > div {
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
}

ul div:nth-child(2n) {
  background-color: var(--color-2);
}

li::marker {
  color: var(--color-3);
}

#filter-page {
  display: grid;
  grid-template: 1fr 2fr / 1fr 1fr 1fr;
  margin: 5%;
  gap: 5vh;
}

#anime-page {
  display: grid;
  grid-template: 30vh 15vh 15vh 15vh / 30vw 60vw;
  grid-template-areas:
    "animePageImage animePageDescription"
    "animePageImage animePageDescription"
    "animePageDetails animePageTrailer"
    "animePageDetails animePageTrailer";
  padding: 2%;
  gap: 2%;
}

#anime-page-image-div {
  grid-area: animePageImage;
  justify-self: center;
}
.anime-page-img {
  width: calc(100% - 15px);
  max-width: 300px;
  max-height: 100%;
}

#anime-page-details-div {
  grid-area: animePageDetails;
  justify-self: center;
  font-weight: bold;
  font-size: larger;
  overflow-y: scroll;
  width: calc(100% - 15px);
}

#anime-page-description-div {
  grid-area: animePageDescription;
  overflow-y: scroll;
}
.anime-page-description {
  width: calc(100% - 15px);
}

#anime-page-trailer-div {
  grid-area: animePageTrailer;
  justify-self: center;
}

.anime-trailer {
  height: 90%;
  aspect-ratio: 16/9;
}

#footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  right: 2.5vw;
  bottom: 10px; /* ! related to container padding */
  width: 95vw;
  height: 8vh; /* ! related to container grid raw */
}

button {
  width: 100%;
  max-height: 50px;
  height: 100%;
  font-size: x-large;
  border-style: hidden;
  color: var(--color-1);
  border-radius: 1rem;
  background: linear-gradient(
    to right,
    var(--color-3) 0%,
    var(--color-4) 20%,
    var(--color-4) 80%,
    var(--color-3) 100%
  );
}

button:hover {
  background: linear-gradient(
    to right,
    var(--color-3) 0%,
    var(--color-5) 20%,
    var(--color-5) 80%,
    var(--color-3) 100%
  );
}

button:active {
  background: linear-gradient(
    to right,
    var(--color-4) 0%,
    var(--color-3) 20%,
    var(--color-3) 80%,
    var(--color-4) 100%
  );
}

#home-button {
  border-radius: 0px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#user-button {
  border-radius: 0px;
}

#filter-button {
  border-radius: 0px;
}

select {
  width: 100%;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 100%;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 100%;
  margin: 0;
}

#setting-button {
  border-radius: 0px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#setting-pop-up {
  position: fixed;
  right: 5%;
  bottom: calc(
    10px + 9vh
  ); /*! related to footer height and container padding */
  display: grid;
  grid-template: repeat(4, 1fr) / 1fr 1fr;
  grid-template-areas: "DarkLight DarkLightToggle" "theme0 theme0Toggle" "theme1 theme1Toggle" "theme2 theme2Toggle";

  height: 50vh;
  min-height: 160px;
  width: 50vw;
  max-width: 300px;
  border: 2px var(--color-5) solid;
  padding: 2%;
  gap: 2%;
  border-radius: 2rem;
  font-size: large;
  font-weight: bold;
  background: radial-gradient(var(--color-2) 75%, var(--color-3) 100%);
  z-index: 1;
}

.setting-pop-up-des {
  display: flex;
  align-items: center;
  justify-content: end;
}

#setting-pop-up button {
  font-size: large;
}

.api-div {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .anime-div {
    width: 85%;
  }
  #user-section {
    flex-direction: column;
    height: 100%;
  }
  #rules-section {
    flex-direction: column;
    min-height: 70%;
  }
  .avatar-pic {
    width: 8vh;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .anime-div {
    width: 75%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .anime-div {
    width: 48%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .anime-div {
    width: 40%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .anime-div {
    width: 31%;
  }
}
